*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container{
  /* background-color: blue; */
  width: 1200px;
  margin: 0 auto;
}

header{
  background-color: #ff2200;
  width: 100%;
  height: 77px;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.container_header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}

.menu_header{
  width: 630px;
  display: flex;
  justify-content: space-between;
}

.menu_header a{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.icone_cracha{
  width: 30px;
  height: 30px;
  margin-right: -55px;
}

.icone_carometro{
  height: 30px;
  width: 30px;
  margin-right: -55px;
}

.icone_perfil{
  height: 30px;
  width: 30px;
  margin-right: -55px;
}

.container_login{
  position: relative;
}

.container_login button {
  width: 105px;
  /* display: flex; */
  margin-top: 38px;
  height: 36px;
  /* align-items: center; */
  /* color: bisque; */
  background: darkgrey;
}


.img_banner{
  position: fixed;
  width: 100%;
  height: 150%;
  background-color: white;
  opacity: 60%;
  
}

.form_h1 {
  position: absolute;
  display: flex;
  top: 200px;
  flex-direction: column;
  right: 215px;
  align-items: center;
}

.icone_perfil-login{
  width: 105px;
  height: 105px;
  margin-bottom: 33px;
}

.formulario_login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 360px;
}

.campos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 165px;
}

.campo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo label{
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.campo input{
  width: 350px;
  height: 40px;
  padding-left: 15px;

  border: none;
  border-radius: 30px 110px 30px 110px;
  background-color: white;
  font-size: 15px;
}

.formulario_login button{
  width: 200px;
  height: 40px;
  border-radius: 30px 110px 30px 110px;
  
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  font-weight: bolder;

  border: none;
  background-color: #FC4E57;
}

.formulario_login button:hover{
  background-color: #fc6b73;
  cursor: pointer;
}

