.App_nf {
    text-align: center;
  }
  
  .App-nf {
    background-color: #292828;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Arial';
  }
  
  